.body.dark-mode {
  background: black;
  color: white;
  font-family: 'Arial', sans-serif;
}
ul {
  list-style: none;
  padding: 0;
}
.badge {
  display: inline-block;
  font-size: 0.875em;
  margin-right: 0.25rem;
  padding: 0.25rem 0.5rem;
  background: rgba(255,255,255,0.8);
}
.card {
  background: linear-gradient(135deg, rgb(16, 29, 48) 0%, rgb(2, 67, 104) 100%);
}
/* Ensure hamburger button visibility on mobile */
@media (min-width: 768px) {
  .hamburger-menu {
    display: none;
  }
}